node_modules/
/.pnp
.pnp.js

build/
dist/
.next/
out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.local
.env.*.local

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

coverage/
